<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/inicio.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/ranking">Ranking</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>

<main>
    {{#data}}
        {{#es_user}}
            <h1>Bienvenido {{nombre_de_usuario}} !</h1>
            <p>Tu puntaje máximo es: {{puntaje}}</p>
            <div class="centrado">
                <a href="/seleccionarCategoria">Jugar</a>
            </div>
            <div class="centrado">
                <a href="/crearPregunta">Crear pregunta</a>
            </div>
        {{/es_user}}
        {{#es_admin}}
            <div class="admin-seccion">
                <h2>Sección de Editor</h2>
                <a href="/editor/verificarPregunta">Ver preguntas a verificar</a>
                <a href="/editor/editarPreguntas">Editar preguntas</a>
                <a href="/editor/preguntasReportadas">Preguntas reportadas</a>
            </div>
        {{/es_admin}}
    {{/data}}
</main>

</body>
</html>
