<!doctype html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/iniciar_partida.css">
    <title>Partida</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>

    <main>
        <h1>CATEGORIA: {{categoria}}</h1>
        <h2>Pregunta:</h2>
        <h4>✩ {{pregunta}}</h4>

        <h2>Respuestas:</h2>
        <form action="/juego/verificar" method="post">
            <input type="hidden" name="correcta"  value="{{correcta}}">
                {{#respuestas}}
                    <input type="radio" id="respuesta-{{id_respuesta}}" name="respuesta" value="{{id_respuesta}}">
                    <label for="respuesta-{{id_respuesta}}">{{descripcion}}</label><br>
                {{/respuestas}}
            <button type="submit">Responder</button>
        </form>
    </main>
</body>
</html>