<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/ranking.css">
    <title>Ranking</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/partidas">Partidas</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>

    <main>
        <h1>Ranking</h1>
        <table>
            <tr>
                <th>Posición</th>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
            {{#ranking}}
                <tr>
                    <td class="posicion-{{index}}">{{index}}° puesto</td> <!-- Este es el índice -->
                    <td class="posicion-{{index}}"><a href="/perfil?usuario={{value.id}}" style="text-decoration: none; color: black">{{value.nombre_de_usuario}}</a></td>
                    <td class="posicion-{{index}}"><p>{{value.puntaje}}</p></td>
                </tr>
            {{/ranking}}
        </table>
    </main>

</body>
</html>