<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verificar pregunta</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/preguntas_reportadas.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/ranking">Ranking</a></li>
        <li><a href="/partidas">Partidas</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
</nav>

<main>
    <a id="inicio" href="/inicio">Volver al inicio</a>
    <div class="user-data">
        {{#preguntas}}
            <div class="pregunta">
                <h2>Pregunta: {{pregunta}}</h2>
                <h3>Respuesta correcta:</h3>
                {{#respuestas_correctas}}
                    <p> ✩ {{.}}</p>
                {{/respuestas_correctas}}
                <h3>Respuestas incorrectas:</h3>
                <div class="respuestas-incorrectas">
                    {{#respuestas_incorrectas}}
                        <p> ❍ {{.}}</p>
                    {{/respuestas_incorrectas}}
                </div>
                <div class="button-container">
                    <form class="form-button" action="/editor/aprobarPregunta" method="post">
                        <input type="hidden" name="pregunta_id" value="{{pregunta_id}}">
                        <input type="submit" value="Aprobar">
                    </form>
                    <form class="form-button" action="/editor/rechazarPregunta" method="post">
                        <input type="hidden" name="pregunta_id" value="{{pregunta_id}}">
                        <input type="submit" value="Rechazar">
                    </form>
                </div>
            </div>
        {{/preguntas}}
    </div>
</main>

</body>
</html>
