/* ESTILO BODY */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
}

/* ESTILO MAIN */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    font-size: 1.5em;
}

.contenedor h2 {
    color: #333;
    margin-bottom: 20px;
}

.contenedor a {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    color: black;
    background-color: rgba(83, 159, 152, 0.64);
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contenedor a:hover {
    color: black;
    background-color: rgb(63, 121, 113);
}