/* ESTILO BODY */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
}

/* ESTILO NAVEGADOR */
nav {
    background-color: rgba(83, 159, 152, 0.64);
    overflow: hidden;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    background-color: #111;
}

/* ESTILO PRINCIPAL */
main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.pregunta {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pregunta h2{
    text-align: left;
    width: 100%;
}

.pregunta .contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pregunta form[action="/admin/modificarPregunta"] {
    margin-right: 20px;
}

.crear-pregunta-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

form[action="/crearPregunta"] input[type="submit"] {
    padding: 15px 30px;
    font-size: 1.2em;
    color: black;
    background-color: rgba(83, 159, 152, 0.64);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

form[action="/crearPregunta"] input[type="submit"]:hover {
    color: black;
    background-color: rgb(63, 121, 113);
    font-weight: bold;
}

form input[type="submit"] {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    color: white;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="submit"]:hover {
    background-color: #555;
}
