/* ESTILO BODY */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
}

/* ESTILO NAVEGADOR */
nav {
    background-color: rgba(83, 159, 152, 0.64);
    overflow: hidden;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    background-color: #111;
}

/* ESTILO PRINCIPAL */
main {
    max-width: 950px;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main h1 {
    font-size: 2.5em;
    color: #580296;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Times New Roman";
}

main h2 {
    font-size: 2em;
    color: rgba(40, 100, 94, 0.88);
    text-align: left;
    margin-bottom: 20px;
}

main h4 {
    font-size: 1.2em;
    color: #111111;
    text-align: center;
    margin-bottom: 20px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para los elementos de radio */
input[type="radio"] {
    display: none;
    align-self: flex-start
}

input[type="radio"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    color: rgba(40, 39, 39, 0.91);
    font-size: 1.2em;
    line-height: 24px;
    margin-bottom: 10px;
    align-self: flex-start;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #6a5acd;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label:before {
    background-color: #6a5acd;
}

input[type="radio"] + label:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label:after {
    background-color: #fff;
}

main button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    background-color: #6a5acd;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: none;
}

main button:hover {
    background-color: #4b0082;
    display: block;
    color: white;
}

#reportar {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    background-color: rgba(189, 72, 89, 0.93);
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: none;
}

#reportar:hover {
    background-color: #d30202;
    display: block;
    color: white;
}

#timer {
    padding: 10px;
    background-color: #6a5acd;
    color: white;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto;
    font-size: 1.2em;
    font-weight: bold;
}

.categoria-CIENCIA{
    background-color: rgba(125, 203, 123, 0.98);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.categoria-HISTORIA{
    background-color: rgba(175, 156, 19, 0.97);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.categoria-DEPORTE{
    background-color: rgba(201, 94, 28, 0.96);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.categoria-GEOGRAFIA{
    background-color: rgba(49, 78, 190, 0.87);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.categoria-ARTE{
    background-color: rgba(178, 26, 38, 0.82);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.categoria-ENTRETENIMIENTO{
    background-color: rgba(199, 12, 175, 0.83);
    display: block;
    padding: 0.5em;
    color: black;
    border-radius: 2em;
    width: 10em;
}

.centrar-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}