/* ESTILO BODY */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
}

/* ESTILO NAVEGADOR */
nav {
    background-color: rgba(83, 159, 152, 0.64);
    overflow: hidden;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    background-color: #111;
}

/* ESTILO MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 950px;
    margin: auto;
    margin-bottom: 5em;
    margin-top: 5em;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para la pregunta */
.pregunta {
    margin-bottom: 20px;
}

.pregunta h2 {
    font-size: 1.5em;
    color: #333;
}

.pregunta h3 {
    font-size: 1.2em;
    color: #666;
}

.pregunta p {
    font-size: 1em;
    color: #999;
}

/* Estilos para los formularios */
.pregunta form {
    margin-top: 10px;
}

.pregunta form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: rgba(83, 159, 152, 0.64);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.pregunta form input[type="submit"]:hover {
    color: black;
    background-color: rgb(63, 121, 113);
    font-weight: bold;
}

/* Estilo para el contenedor */
.user-data {
    display: inline-block;
    text-align: left;
}

.pregunta h2{
    font-size: 2em;
    color: rgba(44, 84, 80, 0.87);
    margin-bottom: 20px;
}

.pregunta h3 {
    font-size: 1.2em;
    color: #424242;
    margin-bottom: 20px;
}

.pregunta p {
    font-size: 1.1em;
    color: #212121;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid rgba(11, 147, 134, 0.68);
    border-radius: 5px;
}

.respuestas-incorrectas p {
    font-size: 1.1em;
    color: #212121;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid rgb(33, 63, 60);
    border-radius: 5px;
}

.form-button {
    display: inline-block;
}

.form-button:first-child {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}
