<footer>
    <h2>Grupo 5</h2>

    <div class="contenedor1">
        <li>Caldas Juan Pablo</li>
        <li>Junco Victoria</li>
    </div>
    <div class="contenedor2">
        <li>Valdez Ramiro</li>
        <li>Stadtner Pablo</li>
    </div>
</footer>