<footer>
    <h2>Grupo 5</h2>

    <div class="contenedor1">
        <li>Junco Victoria</li>
        <li>Perrone Martina</li>
    </div>
    <div class="contenedor3">
        <li>Valdez Ramiro</li>
        <li>Stadtner Pablo</li>
    </div>
</footer>